/* Style Reset */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;800&family=Sen:wght@400;700;800&family=Fira+Mono:wght@500&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Sen', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-dark);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  background-color: var(--white);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #3d5afe26;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--white);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--black);
  border: 2px solid var(--white);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2b333b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jost, sans-serif;
  line-height: 1.3;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  color: var(--text-dark);
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

img {
  max-width: 100%;
}

:root {
  --orange: #ff8b64;
  --purple: #9980fa;
  --blue: #5855e0;
  --grey: #7b7b7b;
  --black: #1c1c1c;
  --green: #82f9a1;
  --one: #ff8b64;
  --two: #5855e0;
  --three: #9980fa;
  --white: #fff;
  --text-dark: #0a0c10;
  --text-muted: #6c7693;
  --text-light: #afafaf;
  --blur-bg: #ffffffd9;
  --highlight: #ff8b646b;
  --highlight-shadow: c;
}
html[data-theme='dark'] {
  --orange: #fd413c;
  --purple: #9980fa;
  --blue: #5855e0;
  --grey: #7b7b7b;
  --black: #1c1c1c;
  --green: #82f9a1;
  --one: #ff8b64;
  --two: #5855e0;
  --three: #9980fa;
  --white: #212529;
  --text-dark: #fff;
  --text-muted: #6c7693;
  --text-light: #afafaf;
  --blur-bg: #212529d9;
  --highlight: #fd413cbf;
  --highlight-shadow: #fd413c40;
}

html.theme-tansition,
html.theme-tansition *,
html.theme-tansition *:before,
html.theme-tansition *:after {
  transition: background-color 750ms ease 0s !important;
}

#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#gatsby-focus-wrapper footer {
  margin-top: auto;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--text-dark);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
/* * {
  border: 1px solid red;
} */
